@use 'sass:map';
@use '../interface.scss';

$vertical: "vertical";
$horizontal: "horizontal";

@mixin bordered($width: interface.$border-width, $style: interface.$border-style, $colour: interface.$border-colour) {
  border-width: $width;
  border-style: $style;
  border-color: $colour;
}

@mixin padded($vertical: interface.$item-padding, $horizontal: $vertical) {
  padding-top: $vertical;
  padding-bottom: $vertical;

  padding-left: $horizontal;
  padding-right: $horizontal;
}

@mixin centered($axis: $horizontal) {
  display: flex;
  justify-content: center;

  @if $axis == $horizontal {
    flex-direction: row;
    text-align: center;
    width: 100%;
  } @else if $axis == $vertical {
    flex-direction: column;
    height: 100%;
  } @else {
    @error "Unknown axis #{$axis}";
  }
}
