@use '../interface.scss';
@use 'text.scss';
@use 'container.scss';

@mixin control() {
  @include container.padded();
  @include text.text();

  @include container.bordered(
    $width: interface.$control-border-width,
    $style: interface.$control-border-style,
    $colour: interface.$control-border-colour
  );

  background-color: interface.$control-background;
  border-radius: interface.$control-radius;
}
