@use '../interface.scss';
@use 'sass:map';

$triangle-direction: (
  up: border-bottom-color,
  right: border-left-color,
  down: border-top-color,
  left: border-right-color
);

@mixin triangle($direction: down, $colour: interface.$font-colour, $size: 5px) {
  display: inline-block;
  height: 0;
  width: 0;

  border: $size solid transparent;

  #{map.get($triangle-direction, $direction)}: $colour;
}
