@use '../interface.scss';

@mixin text($size: interface.$font-size, $colour: interface.$font-colour) {
  font-family: interface.$font-family;
  font-feature-settings: interface.$font-features;
  font-size: $size;
  color: $colour;
}

@mixin link($size: interface.$font-size) {
  @include text($size, $colour: interface.$link-colour);

  text-decoration: interface.$link-decoration;

  &:hover,
  &:focus {
    color: interface.$link-hover-colour;
  }
}
