@use '~sassy-theme/theme.scss';

.select {
  display: inline-block;
}

.select__field {
  @include theme.control();

  appearance: none;
  padding-right: calc(#{theme.$item-padding} + 30px);
}

.select__arrow {
  @include theme.triangle($direction: down);

  position: relative;
  left: -20px;
  top: 3px;

  pointer-events: none;
}
