@use '~sassy-theme/theme.scss';

.button {
  @include theme.control();

  appearance: none;
  transition: background-color 250ms, color 250ms;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: theme.$background-colour-shade;
  }

  margin-inline-end: theme.$item-padding;

  &:last-child {
    margin-inline-end: 0;
  }

}
