@use '~sassy-theme/theme.scss';

.app__panel {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
}

.app__panel-content {
  max-height: 50vh;
  overflow: auto;
}

p {
  @include theme.text();
}
