
.theme__clean {
  --theme-font-size: 1rem;
  --theme-font-family: sans-serif;
  --theme-font-features: none;
  --theme-font-colour: #4f4f63;
  --theme-font-primary-colour: #414150;

  --theme-primary-colour: #a0a0ae;
  --theme-primary-colour-tint: #b7b7c1;
  --theme-primary-colour-shade: #757589;

  --theme-background-colour: #fbfbfd;
  --theme-background-colour-tint: #ffffff;
  --theme-background-colour-shade: #e3e3e7;

  --theme-success-colour: #0fa5aa;
  --theme-warning-colour: #fab923;
  --theme-error-colour: #dc235a;
  --theme-link-colour: #0064dc;
  --theme-link-hover-colour: #004da9;
  --theme-link-decoration: underline;

  --theme-border-width: 2px;
  --theme-border-style: solid;
  --theme-border-colour: #e3e3e7;

  --theme-container-padding: 10px;
  --theme-item-padding: 5px;

  --theme-control-radius: 5px;

  --theme-heading-1-size: 1.4rem;
  --theme-heading-2-size: 1.28rem;
  --theme-heading-3-size: 1.2rem;

  --theme-control-background: #fbfbfd;
  --theme-control-border-width: 2px;
  --theme-control-border-colour: #e3e3e7;
  --theme-control-style: solid;
}

.theme__clean--dark {
  --theme-font-colour: #f4f4f6;

  --theme-background-colour: #4f4f63;
  --theme-background-colour-tint: #5e5e76;
  --theme-background-colour-shade: #414150;
 
  --theme-border-colour: #5e5e76;

  --theme-control-background: #4f4f63;
  --theme-control-border-colour: #5e5e76;
}
