@use '~sassy-theme/theme.scss';

.panel {
  @include theme.bordered();

  border-radius: theme.$control-radius;
  overflow: hidden;

  .panel__header {
    @include theme.text($size: theme.$heading-2-size);
    @include theme.padded(theme.$container-padding);

    transition: background-color 250ms, color 250ms;
    background-color: theme.$background-colour-shade;
  }

  .panel__content {
    @include theme.padded(theme.$container-padding);

    transition: background-color 250ms;
    background-color: theme.$background-colour;
  }
}
