$primary-colour: var(--theme-primary-colour);
$primary-colour-tint: var(--theme-primary-colour-tint);
$primary-colour-shade: var(--theme-primary-colour-shade);

$background-colour: var(--theme-background-colour);
$background-colour-tint: var(--theme-background-colour-tint);
$background-colour-shade: var(--theme-background-colour-shade);

$success-colour: var(--theme-success-colour);
$warning-colour: var(--theme-warning-colour);
$error-colour: var(--theme-error-colour);
