$font-size: var(--theme-font-size);
$font-family: var(--theme-font-family);
$font-features: var(--theme-font-features);
$font-colour: var(--theme-font-colour);

$font-primary-colour: var(--theme-font-primary-colour);

$heading-1-size: var(--theme-heading-1-size);
$heading-2-size: var(--theme-heading-2-size);
$heading-3-size: var(--theme-heading-3-size);

$link-colour: var(--theme-link-colour);
$link-hover-colour: var(--theme-link-hover-colour);
$link-decoration: var(--theme-link-decoration);
