$container-padding: var(--theme-container-padding);
$item-padding: var(--theme-item-padding);

$border-width: var(--theme-border-width);
$border-style: var(--theme-border-style);
$border-colour: var(--theme-border-colour);
